body {
    background: beige;
    margin: 10px;
}

h1 {
    background: yellow;
    text-align: center;
}
.success {
    background: brown;

}
.border1 {
    border: 1px solid orange;

}
.super-title {
    font-size: 80px;
}

p.textcolor {
    color:red;
}

.tinny-title {
    font-size: 30px;
}